.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.blur {
  z-index: 1;
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  background-color: black;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.btn_edit,
.btn_del {
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.btn_edit {
  margin-right: 5px;
  background-color: #fdc02e;
  color: black;
}
.btn_del {
  background-color: rgb(166, 4, 4);
  color: white;
}
/* edit */

#add_user {
  display: inline-block;
  padding: 10px 15px;
  background-color: #1a94ff;
  border: 0;
  border-radius: 5px;
  color: #fafafa;
}
